// Изменение в ссылках
%link {
  color: inherit;

  font-style: normal;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// Точки и отступы в списках ul
%list {
  padding: 0;
  margin: 0;

  list-style: none;
}
// Контейнер
%container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile-breakpoints) {
    width: 480px;
  }

  @media screen and (min-width: $tablet-breakpoints) {
    width: 768px;
  }

  @media screen and (min-width: $desctop-breakpoints) {
    width: 1200px;
  }
}
// Отступы секций
%section {
  @media screen and (max-width: 1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desctop-breakpoints) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// Загловки h2 в веб-студия
%title {
  @media screen and (min-width: $desctop-breakpoints) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
